{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>{% block title %} Olá Professor! {% endblock %}</h1>
    <br>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/026/638/cat.jpg" alt="Liga a internet aí!">
    <br>
    <br>
    <br>
    <font size="5"><b>Use a barra de navegação para alterar entre as telas da API.</b></font>
    <br>
    <ul>
        <li><font size="4">Home: Apresenta a tela inicial com uma linda imagem.</font></li>
        <li><font size="4">Descrição: Detalhamento da Atividade Prática 1.</font></li>
        <li><font size="4">AP1: Resolução do que foi solicitado.</font></li>
    </ul>
{% endblock %}