{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>{% block title %} Descrição da AP1 {% endblock %}</h1>
    <br>
    <h2>Atividade Prática 1</h2>
    <span>Crie um servidor usando a sua linguagem script e framework de preferência.<br>
    O servidor deve responder com uma pagina html com uma caixa de texto e um botão.<br>
    Ao clicar no botão, o conteúdo da caxa de texto é enviado para o servidor e um outro número é retornado pelo servidor.<br>
    Esse numero deve ser o resultado de uma equação escolhida por você aplicada ao número enviado pela pagina HTML.
    <br><br>
    <b>Data de entrega: 05/08/2021</b>
    <br><br>
    A entrega do jogo será pelo SIGAA.</span>
{% endblock %}